#main_{
    min-height:100vh ;
      display: flex;
      flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}
#main_ #ad{
    border: 1px solid;
    height: 420px;
    width: 90%;
    border-radius: 30% 20px;
    border: 0.1px solid #1AFF98;
    box-shadow: 0px 0px 5px #1AFF98; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main_ #ad article{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 200px;
}
#main_ #ad article img{
    width: 100px;
    height: 100px;
     position: relative;
     opacity: 0.03;
     border: 2px solid #055f36;
     border-radius: 50%;
}
#main_ #ad article img:nth-last-of-type(even){
    top: 100px;
    left: 100px;
}
#main_ #ad article img:nth-last-of-type(odd){
    right: 120px;
    bottom: 30px;
}
 #main_ #ad h2{
    color: #055f36;
 }
   #main_ #ad h1{
        font-size: 60px;
        text-align: center;
    }
     #main_ #ad button{
        height: 60px;
        width: 300px;
        border: none;
        border-radius:7px ;
        background-color: #067943;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        text-shadow: 0px 0px 1px #ffffff;
     }
      #main_ #ad button:hover{
        background-color: #055f36;
      }
       #main_ #ad p{
        text-align: center;
       }
       .animated-heading {
  font-size: 45px;
  font-weight: bold;
  line-height: 1.3;
  position: relative;
}

/* blinking cursor */
.animated-heading span::after {
  content: "|";
  margin-left: 5px;
  animation: blink 0.8s infinite;
  color: #fff; /* adjust according to your theme */
}

@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

/* fade + slide animation */
.fade-slide {
  display: inline-block;
  animation: fadeSlide 0.5s ease-out;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#about {
  width: 80%;
  margin: auto;
  margin-top: 60px;
  color: #E8FDEE;
  text-align: justify;
}

#about h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #1AFF98;
}

.about-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 30px;
  margin: 40px 0;
  background: #0E1512;
  border: 1px solid #1AFF98;
  border-radius: 14px;
  box-shadow: 0px 0px 12px rgba(0,255,136,0.15);
}

.about-block.reverse {
  flex-direction: row-reverse;
}

.about-block img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  /* filter: drop-shadow(0 0 8px #00FF88); */
}

.about-block .text h4 {
  color: #00FF88;
  margin-bottom: 10px;
}

.about-block .text p {
  font-size: 15px;
  line-height: 1.6;
}

.why-us {
  background: #0E1512;
  border: 1px solid #00FF88;
  padding: 20px 30px;
  border-radius: 14px;
  margin-top: 50px;
}

.why-us h4 {
  color: #00FF88;
  margin-bottom: 10px;
}

.why-us ul li {
  margin: 8px 0;
  font-size: 15px;
}

