#tech-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
#tech-list{
    border: 1px solid #1AFF98;
    width: 40%;
    height: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}